/**************************************************************************************************
    
    Font definitions 

**************************************************************************************************/

@font-face {
    font-family: Roboto Condensed;
    src: url(../webfonts/RobotoCondensed-Regular.ttf)
}
@font-face {
    font-family: Lato;
    src: url(../webfonts/Lato-Regular.ttf)
}

/**************************************************************************************************
    
    Base styles
    
**************************************************************************************************/

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif; 
    font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a, h5 a,
a.h1, a.h2, a.h3, a.h4, a.h5 {
    color: rgba(0,0,0,0.7);
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover,
a.h1:hover, a.h2:hover, a.h3:hover, a.h4:hover, a.h5:hover {
    color: inherit;
    text-decoration: none;
}

a {
    color: rgba(0,0,0,0.7);
}
a:hover {
    color: rgba(0,0,0,1);
    text-decoration: none;
}

body {
    background-color: transparent;
    font-family: Lato, sans-serif; 
    min-height: 100vh;
    font-size: 80%;
}

/**************************************************************************************************
    
    Helpers
    
**************************************************************************************************/

.hide {
    display: none !important;
}

.parsed-text img {
    max-width: 100% !important;
    height: auto !important;
}

/**************************************************************************************************
    
    Layout
    
**************************************************************************************************/

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ddd;
}

main {
    flex-grow: 1;
    display: flex;
}

main > .row {
    flex-grow: 1;
}

.main-content {
    background-color: white;
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

/* Header */

.site-header-image {
    /*background-color: #eee;*/
    background-repeat: repeat;
    min-height: 200px;
}

.navbar .navbar-brand, .navbar .nav-item {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif; 
}

.navbar .row { width: 100%; }

/* Sidebar */

.sidebar {
    text-align: right;
    padding-right: 0px;
}

.sidebar ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 30px;
}

.sidebar ul li {
    background-color: white;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    margin-bottom: 1em;
    padding: 0.4em 0;
    
    box-shadow: 0px 0px 6px 3px rgba(0,0,0,0.1);
}

.sidebar .sidebar-header,
.sidebar .sidebar-section .sidebar-section-header {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif; 
    font-weight: bold;
}

.sidebar .sidebar-header {
    background-color: #343a40;
}
.sidebar .sidebar-header a {
    color: white;
}
.sidebar .sidebar-header a:hover {
    background-color: transparent;
    color: rgba(255,255,255,0.8);
}

.sidebar a,
.sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
}

.sidebar a {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
    color: rgba(0,0,0,0.4);
}
.sidebar a:hover {
    color: #16181b;
    background-color: #f8f9fa;
}
.sidebar a:hover, .sidebar a:active, .sidebar a:focus, .sidebar a:link {
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: none;
}
.sidebar a.active, .sidebar a.active:hover {
    color: white;
    background-color: #343a40;
}

.site-mobile-header {
    display: none;
    padding: 10px 20px;
}

@media (max-width: 767px) {
	.site-mobile-header {
		top: 54px !important;
    }
    
    .timestamp {
		margin-left: 1rem!important;
		margin-right: 1rem!important;
	}
}

@media (max-width: 991px) {
    .site-header-image {
        display: none;
    }
    .site-mobile-header {
        display: block;
        position: fixed;
		top: 68px;
        z-index: 4;
        width: 100%;
    }

    #headerNav {
        position: fixed;
        z-index: 5;
        width: 100%;
    }

    main.container-fluid {
        margin-top: 122px;
    }

    main.container-fluid > .row {
        position: relative;
    }
    .sidebar {
        position: absolute;
        padding-left: 0px;
        text-align: left;
        background-color: #ddd;
        z-index: 3;
        right: 0px;
        bottom: 0px;
        top: 0px;
        overflow-y: scroll;

        left: -100%;
        transition: left 0.2s;
    }
    .sidebar.active {
        left: 0%;
    } 

    .sidebar > ul {
        padding-top: 0px;
    }

    .sidebar ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
    }

    .sidebar ul li {
        background-color: white;
        border-radius: 0;
        margin-bottom: 1em;
        padding: 0.4em 0;
        
        box-shadow: none;
    }
	
	/*fix for screen being over-wide on mobile*/
	.row {
		margin:0; max-width:100%;
	}
    
	.container-fluid {
		padding:0px;
	}
    
	.site-footer .navbar .navbar-nav {
		flex-wrap: wrap; justify-content: center;
	}
}

/* Footer */

.site-footer {
    text-align: center;
}

.site-footer .navbar {
    padding-bottom: 0;
}
.site-footer .navbar .navbar-nav {
    flex-direction: row;
}
.site-footer .navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.site-footer .copyright {
    padding: 0 1rem 1rem;
    color: rgba(0,0,0,.3);
}

.mce-content-body {
    padding: 20px;
}

/**************************************************************************************************
    
    Content
    
**************************************************************************************************/
.modal-header {
    border-bottom: 0px;
}
.modal-header .modal-title {
    line-height: 1em;
}

.tooltip-inner {
    max-width: 350px !important; 
}

.nav-tabs .nav-link.active {
    background-color: transparent;
}
.nav-tabs .nav-link {
    text-transform: uppercase;
    font-family: Roboto Condensed, serif;
}

.display-user, .display-character {
    font-weight: bold;
}

.help-icon {
    /*vertical-align: middle;*/
    cursor: pointer;
    margin: 0 5px;
    color: rgba(0,0,0,0.3);
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    font-family: Roboto Condensed, serif;
    text-transform: uppercase;
    align-items: center;
}
.breadcrumb a {
    color: rgba(0,0,0,0.3);
}
.breadcrumb a:hover {
    color: rgba(0,0,0,0.4);
    text-decoration: none;
}
.breadcrumb-item+.breadcrumb-item:before {
    content: "»";
}
.collapse-title {
    position: relative;
}
.collapse-title:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: -20px;
    top: 0.425em;
    border: 0.3em solid rgba(0,0,0,0.3);
    border-color: rgba(0,0,0,0.3) transparent transparent transparent;
}

.image, .image-thumb {
    max-width: 100%;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    flex-wrap: wrap;
}

.spoiler {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    background: transparent;
    margin-top: 0px;
}
.spoiler-toggle {
    font-weight: bold;
    background-color: #f5f5f5;
    cursor: pointer;
    padding: .3rem 1.25rem;
    font-size: .9rem;
    font-family: Roboto Condensed, serif;
    color: inherit;
    text-transform: uppercase;
}
.spoiler-text {
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.text-break {
    overflow-wrap: break-word;
    word-break: break-word;
}
.small-icon {
    height: 2rem;
    padding-right: .5rem;
}

/* NOTIFICATIONS *********************************************************************************/

.notifications-table .unread, .notifications-table .unread td {
    background-color: #fffdf0;
}

/* BROWSE ****************************************************************************************/

.world-entry-image {
    text-align: center;
}

.world-entry-image img {
    max-width: 100%;
}
.world-entry-search {
    opacity: 0.5;
}

.masterlist-search-field {
    display: inline-block;
    align-items: center;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}
.masterlist-search-field label {
    margin-bottom: 0px;
    margin-right: 10px;
}
.masterlist-search-field input[type=text], .masterlist-search-field select {
    width: 300px;
}

/* ADMIN ****************************************************************************************/

.ranks-table tbody tr > td:last-of-type {
    text-align: right;
}

.sortable .handle {
    color: #343a40;
}
.sortable .sortable-placeholder {
    background-color: rgba(0,0,0,0.1);
}


/* LOGS ******************************************************************************************/
tr.inflow {
    background-color: #fafaff;
}
tr.outflow {
    background-color: #fffafa;
}


/* PROFILE ***************************************************************************************/

.profile-assets-card .card-body {
    display: flex;
    flex-direction: column;
}
.profile-assets-card .card-body .profile-assets-content {
    flex-grow: 1;
}

.profile-assets .profile-inventory .profile-inventory-item img {
    max-width: 100%;
}

.character-bio .nav-tabs.card-header-tabs .active {
    background-color: white;
}

/* INVENTORY *************************************************************************************/

.inventory-category .inventory-body .inventory-item img {
    max-width: 100%;
}
.inventory-stack-name, .inventory-character-name {
    color: rgba(0,0,0,0.7);
}
.inventory-stack-name:hover, .inventory-character-name:hover {
    color: inherit;
    text-decoration: none;
}
tr.accountbound {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}

/* CHARACTERS ************************************************************************************/

.image-nav .nav-item a {
    border: 5px solid transparent;
    border-radius: .25rem;
    display: block;
}
.image-nav .nav-item a.active {
    border: 5px solid #ddd;
}

/* TRANSFERS *************************************************************************************/

.transfer-row, .submission-character-row {
    display: flex;
    align-items: stretch;
}
.transfer-info, .submission-character-info {
    flex-grow: 1;
}
.transfer-info .card-body, .submission-character-info .card-body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.transfer-info-content, .submission-character-info-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.transfer-info-content .transfer-info-body, .submission-character-info-content .submission-character-info-body {
    flex-grow: 1;
}

.collapse-toggle {
    position: relative;
}
.collapse-toggle:after {
    display: block;
    content: '';
    border: 0.3rem solid rgba(0,0,0,0.5);
    border-color: transparent transparent transparent rgba(0,0,0,0.5);
    position: absolute;
    right: -0.85rem;
    top: 0.45rem;
    transform: rotateZ(90deg)translateX(0.25rem);
}
.collapse-toggle.collapsed:after {
    transform: none;
}
.user-items .inventory-item, .user-characters .character-item {
    padding: 10px;
}
.user-items .inventory-stack, .user-characters .character-stack {
    cursor: pointer;
}
.user-items .inventory-item img, .user-characters .character-item img {
    max-width: 100%;
}
.user-characters .character-item.disabled, .user-characters .character-item.disabled .character-stack  {
    opacity: 0.5;
    cursor: not-allowed;
}
.user-items .category-selected .inventory-item, .user-characters .category-selected .character-item {
    background-color: rgba(0,0,0,0.05);
    border-radius: .25rem;
}
.user-items .category-selected.select-item-row {
    background-color: rgba(0,0,0,0.05);
}

/* SHOPS *****************************************************************************************/
.shops-row img {
    max-width: 100%;
}
.shops-row .shop-name a {
    font-weight: bold;
}

/* TRADES ****************************************************************************************/
.trade-offer .currency-item {
    background-color: transparent;
}

/* BOOKMARKS *************************************************************************************/
.bookmark-table {
    min-width: 1000px;
}

.bookmark-table .bookmark-thumbnail {
    min-width: 115px;
    width: 115px;
}

.bookmark-table .bookmark-info {
    width: 20%;
}

.bookmark-table .bookmark-notifications {
    width: 18%;
}

.bookmark-table .bookmark-actions {
    width: 18%;
}

.bookmark-table .img-thumbnail {
    width: 100px;
}

/* BOOTSTRAP TABLES *************************************************************************************/
.ubt-bottom {
  border-bottom:1px solid #dee2e6;
}

.ubt-top {
  border-top:1px solid #dee2e6;
}

.ubt-texthide {
  width:100%;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* COMMENTS *************************************************************************************/
.comment_replies {
        padding-left: 3rem;
        border-left-width: 2px!important;
    }
    
@media only screen and (max-width: 600px) {
    .comment_replies { padding-left:1rem;}
}

.clock-styling {
    padding: 5px 15px;
    border-radius: 15px 15px;
    margin-bottom: .5em;
    color: #fff;
    letter-spacing: .05em;
}